.homepizza {
    border-radius: 30px;
    width: 100%;  /* Make image fill the parent (which is 400px wide) */
    height: 400px;
    display: block; 
}

.image-slider {
   
    display: flex;
    
    width: 70%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    margin: 0 auto;
}



.slider-track {
    display: inline-flex;
    gap: 1rem;
}

.image-text {
    font-weight: bold;
    margin-top: 10px;
}

.pizza-card {
    text-align: center;
    width: 400px;

}

.pizza-type{
    text-align: center;
}

.single-pizza-info{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


h1, h2{
    font-family: 'Lobster', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
}

.title-slider {
    padding-top: 1%;
    padding-bottom: 1%;
}