/* general styling */
h1, h2{
    font-family: 'Lobster', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* home page */

.homepizza {
    border-radius: 30px;
    width: 100%;  
    height: 400px;
    display: block; 
}

.title-slider {
    padding-top: 1%;
    padding-bottom: 1%;
}

.image-slider {
    display: flex;
    width: 70%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    margin: 0 auto;
}

.slider-track {
    display: inline-flex;
    gap: 1rem;
}

.image-text {
    font-weight: bold;
    margin-top: 10px;
}

.pizza-type{
    text-align: center;
}

/* basket page */

.basket-container{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.basket{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    
}

.basket-checkout{
    padding: 20px;
    border: 2px solid black;
    align-self: flex-start;
}

.basket-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    padding: 15px;
}

.basket-image {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.basket-item-info {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basket-buttons {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.basket-buttons form {
    display: inline;
}

.checkout-basket-button{
    padding-left: 2%;

}


/* Checkout success page */
.checkout-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.price-total{
    font-weight: bold;
    padding-left: 2%;
    font-size: 25px;

}

.basket-header{
    text-align: center;

}


/* single pizza page */

.single-pizza-info{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pizza-card {
    text-align: center;
    width: 400px;

}





