{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Cabin&display=swap" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('galleryPage') }}">Donimo's</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class = "navbar-element"><a href="{{ url_for('basketPage') }}"><i class="bi bi-basket"></i> Basket</a></li>
                
                {% if request.endpoint == 'galleryPage' %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Sort By <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <form method="GET" class="sort-form">
                                    <select name="sort_by" id="sort_by" onchange="this.form.submit()">
                                        <option value="">-- Select --</option>
                                        <option value="priceup">Price ascending</option>
                                        <option value="pricedown">Price descending</option>
                                        <option value="footprintup">Least environmental impact</option>
                                        <option value="footprintdown">Most environmental impact</option>
                                    </select>
                                </form>
                            </li>
                        </ul>
                    </li>

                    <form class="navbar-form navbar-left" role="search" method="POST" action="/search">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search" name="query">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                {% endif %}
            </li>
            </ul>
        </div>
    </nav>
{% endblock %}





