{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">



{% for title, pizzas in pizzaDict.items() %}
<div class="title-slider">
    <h1 class="pizza-type">{{ title }}</h1>
    <div class="image-slider">
        <div class="slider-track">
            {% for pizza in pizzas %}
            <div class="pizza-card">
                <a href="{{ url_for('singleProductPage', pizzaName = pizza.name )}}">
                    <img class="homepizza" src="{{ url_for('static', filename = 'img/' + pizza.image) }}" data-id = "{{ pizza.id }}">
                </a>
                <p class="image-text">{{ pizza.name }} - {{ pizza.price }}</p>

                

                <p>Carbon footprint: {{ pizza.footprint }}</p>
                <form method="POST">
                    <input type="hidden" name="pizza_id" value="{{ pizza.id }}">
                    <input type="hidden" name="increase" value="true">
                    <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
                </form>
            </div>

            {% endfor %}
        </div>

    </div>

</div>

{% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

    var imgs = document.querySelectorAll(".homepizza");
    imgs.forEach(function(img) {
        img.addEventListener("mouseover", retrieveInfo);
        img.addEventListener("mouseout", removeInfo);
    });

    window.addEventListener("beforeunload", () => {
        sessionStorage.setItem("scrollY", window.scrollY);
    });

    
    window.addEventListener("load", () => {
        const scrollY = sessionStorage.getItem("scrollY");
        if (scrollY !== null) {
            window.scrollTo(0, parseInt(scrollY));
        }
    });
    
    async function retrieveInfo(event) {
        var pizzaId = event.target.getAttribute("data-id");
        console.log(pizzaId);

        try {
            const response = await fetch(`/pizza-info/${pizzaId}`);
            const data = await response.text();
            displayInfo(data, pizzaId, event.target);
        } catch (error) {
            console.error("Error fetching info");
        }
    }

    function displayInfo(data, id, img) {
        var div = document.createElement("div");
        var text = document.createElement("p");
        text.innerText = data;
        div.appendChild(text);

       
        div.style.position = "absolute";
        div.style.bottom = "50px";
        div.style.left = "0";
        div.style.width = "300px";
        div.style.backgroundColor = "rgba(0, 0, 0, 0.7)";
        div.style.color = "white";
        div.style.padding = "8px 12px";
        div.style.boxSizing = "border-box";
        text.style.margin = "0"; 

        var parent = img.parentElement;
        parent.style.position = "relative";

        img._infoDiv = div;
        img.parentElement.appendChild(div); 
    }

    function removeInfo(event) {
        
        var div = event.target._infoDiv;
        if (div) {
            div.remove();  
            delete event.target._infoDiv;  
        }
    }
</script>
{% endblock %}